.App {
    background-color: #EAF0CE;
    display:grid;
    text-decoration-color: #011627;
    justify-content: center;
}

.Frame {
    border: 20px solid #574B60;
    width:fit-content;
    height:fit-content;
    background-color: #C0C5C1;
}

.NodeTitle {
    text-align: center;
}

.Node {
    border: 1px solid #3F334D;
    margin: 10px;
    text-align: center;
    width: fit-content;
    height:100px;
    position: relative;
    font-size: x-large;
    background-color: #C0C5C1
}

.Nodes {
    border: 10px solid #3F334D;
    margin: 10px;
    padding: 0px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    font-size: x-large;
    background-color: #7D8491;
}

.FrameTitle {
    text-align: center;
}

.Timeslot {
    font-size: 16px;
    text-transform: capitalize;
    border: 3px outset #3F334D;
    text-align: left;
    padding: 3px;
    margin: 3px;
}

.TimeslotElement {
    text-align: left;
}